@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
ol,
ul {
  list-style: none;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  background-color: #fceed0;
  font-family: "Roboto", sans-serif;
  color: #5b5e61;
  line-height: 1;
  font-weight: 500;
}

.nav {
  margin-top: 1.5rem;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.nav-items li {
  cursor: pointer;
}

.logo {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
}

.logo-small {
  font-size: 15px;
  color: #588bae;
  text-decoration: dotted;
}

.logo-title {
  font-size: 20px;
}

.img-logo {
  height: 50px;
  width: 50px;
}

.list-items{
  height: 840px;
}

footer {
  line-height: 50px;
}

.bordered {
  border: 3px solid black;
  width: 100%;
  padding: 0 30px;
}
