@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

ol,
ul {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --font-family-styled: 'Sacramento', cursive;
  --Box-shadow-outside: -5px -5px 20px rgba(255, 255, 255, 0.849), 5px 5px 9px rgba(94, 104, 121, 0.3);
  --Box-shadow-outside-dark: -5px -5px 20px rgba(73, 36, 36, 0.849), 5px 5px 9px rgba(250, 250, 250, 0.39);
  --Box-shadow-inside: inset -5px -5px 9px rgba(255, 255, 255, 0.647), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

body {
  background-color: #a7727d;
  font-family: "Roboto", sans-serif;
  color: #5d6267;
  line-height: 1;
}

/* ----------------------------------navbar CSS starts here------------------------------- */

.nav {
  height: 100px;
  background-color: #f9f5e7;
  box-shadow: var(--Box-shadow-outside);
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-items {
  width: 80%;
  min-width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
  gap: 5px;
  cursor: pointer;
}

.logo-small {
  font-size: 18px;
  color: #a7727d;
  text-decoration: dotted;
}

.logo-title {
  font-size: 20px;
}

.img-logo {
  height: 50px;
  width: 50px;
}

.nav-link {
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

/* -------------------------------NavBar CSS Section Ends Here------------------------------ */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 80px 200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-shadow: var(--Box-shadow-outside-dark);
  background-color: #f8ead8;
  padding: 10px;
  height: 500px;
  width: 30%;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 100%;
}

.image-api {
  height: 300px;
  width: 60%;
}

.popup-img {
  height: 400px;
  width: 50%;
}

.product-counter {
  color: #7632fe;
}

.like-btn {
  margin-top: 0.5rem;
}

.likes {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.button {
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 1);
  background-color: rgb(241, 241, 247);
}

/* POPUP COMMENT Section */
#popupModal {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.5s ease;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(0.85);
}

.popup-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8ead8;
  border: 2px solid black;
  border-radius: 20px;
  width: 800px;
  max-width: 80%;
  margin: 50px 0;
  padding: 80px;
  gap: 25px;
  z-index: 10;
}

.close-btn {
  position: absolute;
  top: 50px;
  right: 60px;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
  border-color: #a7727d;
}

.art-details ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.art-details ul li {
  padding: 0.5rem;
}

.cmds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cmds p {
  align-self: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#name {
  width: 80%;
  border: 3px solid #a7727d;
  padding: 0.5em 0.5em;
}

#insights {
  border: 3px solid #a7727d;
  padding: 0.5em 0.5em 5em 0.5em;
}

#cmd-btn {
  width: 80%;
  height: 40px;
  font-size: 20px;
  border: 3px solid #a7727d;
  background-color: #f9f5e7;
  border-radius: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 200ms ease-in-out;
  pointer-events: none;
  border-radius: 10%;
  border: 5px solid #f9f5e7;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

footer {
  line-height: 50px;
}

.bordered {
  border: 3px solid black;
  width: 100%;
  padding: 0 30px;
  background-color: #f8ead8;
}


/* ---------------------------------------------- */

.heart-btn {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  color: #ff4d4d;
  transition: transform 0.2s;
}

.heart-btn:hover {
  transform: scale(1.1);
}

.heart-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.counter {
  position: absolute;
  top: -10px;
  right: -34px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
